<div class="container mt-4 mb-4">
    <h5>Forget Password</h5>
    <hr class="mb-4" />
    <div class="login-container">
        <div class="alert alert-success alert-dismissible fade show" role="alert"
            *ngIf="message != null && message != ''">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{message}}
        </div>
        <div class="col-md-5">
            <form [formGroup]="forgetForm" (ngSubmit)="RequestPassword()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" formControlName="email" class="form-control" id="email"
                        placeholder="Email Address" >
                    <div *ngIf="this.forgetForm.get('email').invalid">
                        <div class="text-danger"
                            *ngIf="this.forgetForm.get('email').errors.required && this.forgetForm.get('email').touched">
                            {{messageValidate.email.required}}
                        </div>

                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="forgetForm.invalid">Continue</button>
            </form>
        </div>
    </div>
</div>
